# Python Einführung
## Unterüberschrift

*kursiv* **fett**
-  Punkt 1
- Punkt 2
- Punkt 2

1.1 Erste Anweisung

In [1]:
print("Hello world!")

Hello world!

1.2 Kommentare

In [5]:
# Das ist ein Kommentar
'''Mehr Text als Kommentar können mit Anführungszeichen geschrieben werden'''
print("something")
# so ählich wie echo in bash

something

1.3 Einfache Datentypen

In [6]:
# Variable und Wertzuweisung
name = "Lovelace"
'''variablennamen können frei gewählt werden - sinnvolle Namen!'''
print(name)

Lovelace

In [9]:
# String - Zeichenkette
first_name = "Ada"
first_name
# das notebook gibt den wert der letzten Variable

'Ada'

In [10]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [11]:
# Float - Gleitkommazahl
size = 1.7123

In [12]:
# boolsche Werte
knows_math = True
print(knows_math)

True

In [13]:
likes_slacking = False
print(likes_slacking)

False

In [14]:
type(name)

str

In [15]:
type(age)

int

In [16]:
type(size)

float

In [18]:
#Funktion steht immer mit Klammer u. hat einen Rückgabewert
# type string defniert, weil Anführungszeichen
# type int, weil keine Anführungszeichen u. kein Punkt
# type float, weil keine Anführungszeichen u. Punkt
age_string = str(age)
# der variable anderen typ zuweisen

In [19]:
type(age_string)

str

In [20]:
#variablen werden klein geschrieben, Großschreibung hat Bedeutung -> damit code lesbarer wird

1.4 Operatoren

In [21]:
# Addition von Integers
5 + 5

10

In [22]:
# Multiplikation
age * 100

'73737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373737373'

In [23]:
# age als string definiert, daher 100x hintereinander

In [24]:
name + name

'LovelaceLovelace'

In [25]:
# warum muss True gross geschrieben werden? weil Konventionen

In [26]:
name + 10
# zu string integer addieren

TypeError: can only concatenate str (not "int") to str

In [27]:
name + "10"

'Lovelace10'

In [28]:
# Division
size/age

TypeError: unsupported operand type(s) for /: 'float' and 'str'

In [29]:
type(age = int)

TypeError: type() takes 1 or 3 arguments

In [30]:
age = int

In [31]:
size/age

TypeError: unsupported operand type(s) for /: 'float' and 'type'

1.5 Funktionen und Methoden

In [32]:
print(name)
len(name)
# Länge

Lovelace

8

In [33]:
# variable Name ist string, dieser string hat verschiedene methoden - zb großbuchstaben
name.upper()

'LOVELACE'

In [34]:
print(name)

Lovelace

In [35]:
name_upper_case = name.upper()
# output der upper-methode in neuer variable speichern

In [36]:
# bei punkt tab klicken, dann öffnen sich alle methoden
name.count("e")
# wie oft komme e in lovelace vor

2

In [37]:
# zuerst das zu ersetzende, dann der Ersatztext
name.replace("lace"," is everywhere")

'Love is everywhere'

In [38]:
another_name = "peter"

In [39]:
# damit wird variable überschrieben
another_name = another_name.upper()
print(another_name)

PETER

1.6 Listen und Dictionaries

In [40]:
# Liste - Elemente hinzufügen
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [41]:
names[2]

'Curie'

In [42]:
# die 0 ist die erste Zahl -> wenn ich erstes Element haben möchte
names[0]

'Lovelace'

In [43]:
# letztes Element mit minus 1
names[-1]

'Hawking'

In [44]:
# abschnitt angeben lassen, Startelement 0 ist inklusive, letztes - hier 3 - ist exklusive
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [45]:
# slicing nimm alle elemente der liste von anfang an bis zu 2
names[:2]

['Lovelace', 'Darwin']

In [46]:
# slicing nimm alle elemente der liste von 2 an bis zum ende
names[2:]

['Curie', 'Hawking']

In [47]:
# Dictionaries
# nicht einzelne Elemente, sonder ein Element besteht immer aus Schlüssel u. Wert mit Doppelpunkt dazwischen,
# inkl. geschweifte Klammern
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noether": 1882, 
                           "Hawking":1942}

In [48]:
authors_and_birth_years["Darwin"]

1809

In [49]:
# wichtig bei Schlüssel-Wert-Paaren: Schlüssel müssen unique sein, Werte nicht

In [50]:
# hier variable ein wert zugewiesen
# authors_and_birth_years = ["Darwin"]

In [53]:
# bash läuft von oben nach unten durch, jupyter notebook pro zeile ausführbar
# wenn man alles von oben nach unten ausführen will: kernel - restart and run all
# runde Klammern bei Funktionsaufrufen, eckige bei Werten
# wie finde ich heraus, womit ich gerade arbeite - type
type(authors_and_birth_years)

dict

In [52]:
type(names)

list

2 for-Schleifen

In [54]:
# for Variablenname in Liste; nach : alles was nach Einrückung kommt, ist die Aktion
for last_name in names:
    print(last_name + " did awsome stuff.")

Lovelace did awsome stuff.
Darwin did awsome stuff.
Curie did awsome stuff.
Hawking did awsome stuff.

In [55]:
# geht durch liste, nimmt erstes element u. füllt es in die variable last_name u. macht damit etwas
# für jedes element wird der wert genommen u. in last_name geschrieben

# 2. print mit einrückung: im loop drin, daher hinter jedem eintrag linie
for last_name in names:
    print(last_name + " did awsome stuff.")
    print("-----------------------")

Lovelace did awsome stuff.
-----------------------
Darwin did awsome stuff.
-----------------------
Curie did awsome stuff.
-----------------------
Hawking did awsome stuff.
-----------------------

In [56]:
# 2. print ohne einrückung: nur am ende linie
for last_name in names:
    print(last_name + " did awsome stuff.")
print("-----------------------")

Lovelace did awsome stuff.
Darwin did awsome stuff.
Curie did awsome stuff.
Hawking did awsome stuff.
-----------------------

In [58]:
# keys - jedes dictionary hat die methode keys, die die werte ausgibt, bei keys muss nicht .keys() angegeben werden
for dict_names in authors_and_birth_years:
    print(dict_names)

Lovelace
Darwin
Noether
Hawking

In [59]:
# keys - jedes dictionary hat die methode keys, die die werte ausgibt
for dict_names in authors_and_birth_years.keys():
    print(dict_names)

Lovelace
Darwin
Noether
Hawking

In [60]:
# keys - jedes dictionary hat die methode keys, die die werte ausgibt
for dict_names in authors_and_birth_years.values():
    print(dict_names)

1882
1809
1882
1942

In [62]:
# wenn 2 werte ausgegeben werden sollen, 2 variablen definieren
for author_names, year in authors_and_birth_years.items():
    print(author_names, year)

Lovelace 1882
Darwin 1809
Noether 1882
Hawking 1942

2.1 Bedingte Anweisungen ( Conditions)

In [63]:
 # variable temperature zahl zugewiesen; er schaut 20 grösser 15 u. wenn wahr, dann führe aus print
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [64]:
20 > 15

True

In [65]:
# bei 8 passiert nichts
temp = 8
if temp > 15:
    print("it's warm")

In [66]:
# 
temp = 10
if temp > 15:
    print("it's warm")
else:
    print("it's cold")

it's cold

In [70]:
# elif else if, Prüfung findet von oben nach unten statt
temp = 20
if temp > 25:
    print("it's hot")
elif temp > 15:
    print("it's warm")
else:
    print("it's cold")

it's warm

In [76]:
# bereich definieren
temp = 28
if (temp > 25 and temp < 30):
    print("it's hot")

it's hot

In [80]:
temp = 28
if 25 < temp < 30:
    print("hallo")

hallo